* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  color: white;
  font-size: 1rem;
  font-family: sans-serif;
}

.grid--container {
  /* set grid and center children */
  display: grid;
  align-items: center;
  justify-content: center;
  
  /*styles for demo*/
  width: 80vw;
  min-height: 90vh;
  margin: 5vh auto;
  padding: 2vh;
  background: #ccc;
  
  /*center text in line*/
  text-align: center;
}

.grid--item__centered {
  width: 360px;
  height: 360px;
  background: #770f0f;
  border: 2px solid white;
  border-radius: 8px;
  margin: 2vh;
  
  /*center text in item with flexbox*/
  display: flex;
  align-items: center;
  justify-content: center;
  
}
.mybutton {
  background-color: #4CAF50;
  border: none;
  border-radius: 15px;
  color: white;
  padding: 15px 32px;
  text-align: center;
  bottom: 20px;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}
